body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: azure;
}
h1{
     margin-bottom: 20px;
     font-family: Arial, sans-serif;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}
button img{
    width: 200px;
    transition: transform 0.3s ease;
}
button:hover img{
    transform: scale(1.1);
}
button:active img {
    transform: scale(0.95);
}