/* Tema claro padrão */
body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.dark-mode {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.dark-mode button {
    background-color: #f1f1f1;
    color: #333;
}
