:root{
    --cor-primaria: #342E37;
    --cor-secundaria: #9F9FED;
    --cor-terciaria: #736CED;
    --cor-terciaria-efeito: #342f83de;
}

body{
    background-color: var(--cor-secundaria);
    margin: 0;
}

header{
    background-color: var(--cor-terciaria);
    width: 100Vw;
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
}

main{
    background-color: var(--cor-secundaria);
    padding: 50px 0px;
}

footer{
    background-color: var(--cor-terciaria);
    width: 100Vw;
    height: 35px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
}

.cabecalho{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0px 20px;
}

#sobre-mim{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.texto{
    padding: 20px;
    background-color: var(--cor-terciaria);
}

.texto, #foto-eu{
    border: 1px solid black;
    border-radius: 30px;

    box-shadow: 7px 10px 10px var(--cor-terciaria-efeito);
}

.itens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item{
    border: 2px solid black;
    width: 250px;
    height: 250px;
    background-color: var(--cor-terciaria);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 10px 10px 10px var(--cor-terciaria-efeito);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img{
    max-width: 100%;
    max-height: 100%;
}

.Formulario{
    display: flex;
    justify-content: center;
}

form{

}

input{
    width: 100px;
    height: 30px;
}

textarea{
    resize: none;
    width: 240px;
    height: 100px;
}

button{
    
}